body {
    background-color:lightgray
}
.full-width-carousel {
    width: 100%;
}
.main_div_home {
    width: 100%;
}
.div-color {
    background-color: aqua;
    width: 100%;
}
.the-nav-bar {
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    z-index: 1000;
}
.carousel-home {
    margin-top:30px;
    position: absolute;
   
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    background-color:whitesmoke;
    
}
.carousel-category-home {
    margin-top: 10px;
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    background-color: whitesmoke;

}
.carousel-inner-category {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Pour le défilement fluide sur iOS */
    scroll-snap-type: x mandatory; /* Pour le défilement par glissement */
}

.carousel-item-category {
    flex: 0 0 auto;
    width: auto; /* Ajuster la largeur des éléments selon le contenu */
    scroll-snap-align: start; /* Pour s'assurer que chaque diapositive commence à la position de défilement */
}




.search {
    margin-bottom: auto;
    margin-top: auto;
    height: 50px;
    background-color: #fff;
    border-radius: 40px;
    padding: 10px;
}

.search_input {
    color: blue;
    
  
    outline: 0;
    background: none;
    width: 0;
    margin-top: 5px;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.search .search_input {
    padding: 0 10px;
    height: 30px;
    width: 400px;
    caret-color: red;
    transition: width 0.4s linear;
}

.search:hover > .search_icon {
    background: green;
    color: #fff;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    background-color: gray;
}

a:link {
    text-decoration: none;
}
/*code pour aficher liste produit*/
.image_and_description {
    /* Optionnel : définition de la largeur maximale de la cellule */

    width: 300px; /* ou toute autre valeur désirée */
    height: auto;
}

.product_description {
    /* Optionnel : définir des marges et des rembourrages pour les informations du produit */
    margin-left: 10px; /* ou toute autre valeur désirée */
    padding: 10px; /* ou toute autre valeur désirée */
    background-clip:padding-box;
    
}
.first_p{
    font-size:large;
    color:blue;
}
.price {
    font-size:medium;
    color: darkred;
}
/* buying page*/
.buyingTable{
    float:left;
}
/*home card*/
.card-home {
    margin-top:10px;
    position: relative;
    z-index: 1;
}
.first_homeCard{

}
.image_home_card{
   height:300px
}
.card-title {
    font-weight: bold;
}
.card-Home-position{
   
}
.card {
    margin-bottom: 10px; /* Réduire la marge en bas de chaque carte */
    padding: 10px; /* Réduire l'espacement interne de chaque carte */
   
    width: 310px;
    height: 400px;
}
.card-link {
    position:absolute;
        bottom:0;
        margin-left:30%
}



