@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div id="carouselHome" class="carousel slide main_div_home position-relative carousel-home" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <a href="">  <img src="~/Images/Design sans titre (1).png" class="d-block w-100" alt="..." height="400px"></a>
           
        </div>
        <div class="carousel-item" data-bs-interval="2000">
             <a href="">  <img src="~/Images/Men clothes (1).png" class="d-block w-100" alt="..." height="400px"></a>
           
        </div>
        <div class="carousel-item">
            <a href="">  <img src="~/Images/Phone-accessories.png" class="d-block w-100" alt="..." height="400px"> </a>
           
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="position-relative card-home"> <!--main div des cards-->
    <div class="row justify-content-center"> <!--premier row-->
        <div class="col-3 mb-3 "> <!--computer card-->
            <div class="card " >
                 <h5 class="card-title">Computer</h5>
                                    
                <img class="card-img-top image_home_card" src="~/Images/laptop-pc.png" alt="Card image cap">

                <div class="card-body">
                    <a href="#" class="card-link ">voir plus</a>

                </div>
            </div>
        </div>
        <div class="col-3 mb-3 card-Home-position" > <!--Electronic card-->
            <div class="card " style="">
                <h5 class="card-title">Electronic</h5>
               
                <div class="row">
                    <div class="col-6">
                        <img class="card-img-top " src="~/Images/A-iPower 12000 Watt Electric Start Generator.jpeg" alt="Card image cap" style="height:120px; width:100px">
                        <p style="font-size:0.9rem">Generator</p>
                    </div>
                    <div class="col-6">
                        <img class="card-img-top " src="~/Images/Protekz 6000k LED Headlight Kit for 2003-2007 Mercedes Benz E-class H7 Low Beam Conversion 12000lm Led Light Bulbs Kits.jpeg" alt="Card image cap" style="height:120px; width:100px">
                        <p style="font-size:0.9rem">LED Headlight</p>
                    </div>
                </div>
                <div class="row mt-1" style="">
                    <div class="col-6">
                        <img class="card-img-top " src="~/Images/VEVOR Grid Tie Solar Inverter 1000W Mppt Power Inverter 50_60 Hz Solar Grid Tie System Grid Tie Inverter Dc 20-45V Input to Ac 90-140V Output Wind Turbine Grid Tie Inverter for Solar Panel System.jpeg" alt="Card image cap" style="height:120px; width:100px">
                        <p style="font-size:0.9rem">Solar Inverter</p>
                    </div>
                    <div class="col-6">
                        <img class="card-img-top " src="~/Images/Fan.jpeg" alt="Card image cap" style="height:120px; width:100px">
                        <p style="font-size:0.9rem">Mobil Fan</p>
                    </div>
                </div>

                <div class="card-body">
                    <a href="#" class="card-link ">voir plus</a>

                </div>
            </div>
        </div>
        <div class="col-3 mb-3 card-Home-position"> <!--mens fashion card-->
            <div class="card " style="">
                <h5 class="card-title">Men's Fashion</h5>
               
                <div class="row mt-1 justify-content-center" style="">
                    <div class="col-12  text-center">
                        <img class="card-img-top " src="~/Images/Wood.jpeg" alt="Card image cap" style="height:150px; width:160px">
                       
                    </div>
                   
                </div>
                <div class="row mt-1 justify-content-center" style="">
                    <div class="col-12  text-center">
                        <img class="card-img-top " src="~/Images/Formal Suits for Men Wedding Slim Fit 3 Piece Dress Business Party Jacket Vest .jpeg" alt="Card image cap" style="height:150px; width:160px ">
                       
                    </div>

                </div>

                <div class="card-body">
                    <a href="#" class="card-link ">voir plus</a>

                </div>
            </div>
        </div>
        <div class="col-3 mb-3 card-Home-position"> <!--Beauty care card-->
            <div class="card " style="">
                <h5 class="card-title">Beauty & Personal Care</h5>
                <img class="card-img-top image_home_card" src="~/Images/Beauty-care.png" alt="Card image cap">

                <div class="card-body">
                    <a href="#" class="card-link ">voir plus</a>

                </div>
            </div>
        </div>

    </div> <!--first row-->

    <div class="row justify-content-center">
        <div class="col-3 mb-3 "> <!-- Homme kitchen card-->
            <div class="card " style="">

                <h5 class="card-title">Home & Kitchen</h5>


                <div class="row">
                    <div class="col-6">
                        <img class="card-img-top " src="~/Images/Corner Makeup Vanity Table for Your Bedroom for Rexgarden.jpeg" alt="Card image cap" style="height:120px; width:100px">
                        <p style="font-size:0.9rem">Makeup Table</p>
                    </div>
                    <div class="col-6">
                  
                        <img class="card-img-top " src="~/Images/Most Elegant Bedroom Cupboard Designs - Modern Bedroom Wardrobe Closet Ideas.jpeg" alt="Card image cap" style="height:120px; width:100px">
                        <p style="font-size:0.9rem">Bedroom Wardrobe Closet</p>
                    </div>
                </div>
                <div class="row mt-1" style="">
                    <div class="col-6">
                        <img class="card-img-top " src="~/Images/Cuisine1.jpeg" alt="Card image cap" style="height:120px; width:100px">
                      
                    </div>
                    <div class="col-6">
                        <img class="card-img-top " src="~/Images/Cuisine.jpeg" alt="Card image cap" style="height:120px; width:100px">
                        <p style="font-size:0.9rem">Kitchen Accessories</p>
                    </div>
                </div>


                <div class="card-body">
                    <a href="#" class="card-link ">voir plus</a>

                </div>
            </div>
        </div>
        <div class="col-3 mb-3 card-Home-position"> <!--sport outdoor card-->
            <div class="card" style="">
                <h5 class="card-title">Sport & Outdoors</h5>
               
                 <div class="row">
                    <div class="col-6">
                        <img class="card-img-top " src="~/Images/Corde à sauter sportive.jpeg" alt="Card image cap" style="height:120px; width:100px">
                        <p style="font-size:0.9rem">Corde</p>
                    </div>
                    <div class="col-6">
                        <img class="card-img-top " src="~/Images/10 Best Highly-Rated Workout Clothes For Women On Amazon.jpeg" alt="Card image cap" style="height:120px; width:100px">
                        <p style="font-size:0.9rem">Workout Clothes</p>
                    </div>
                </div>
                <div class="row mt-1" style="">
                    <div class="col-6">
                        <img class="card-img-top " src="~/Images/Flammi Women's Exercise Gloves Fitness Gym Workout Gloves Fundamental Training Gloves.jpeg" alt="Card image cap" style="height:120px; width:100px">
                        <p style="font-size:0.9rem">Gloves Fitness</p>
                    </div>
                    <div class="col-6">
                        <img class="card-img-top " src="~/Images/Sports Waterprrof Travel Workout Compartment.jpeg" alt="Card image cap" style="height:120px; width:100px">
                        <p style="font-size:0.9rem">Travel Workout Compartment</p>
                    </div>
                </div>
                <div class="card-body">
                    <a href="#" class="card-link">voir plus</a>

                </div>
            </div>
        </div>
        <div class="col-3 mb-3 card-Home-position">
            <div class="card" style=""> <!--Phones accessorie-->
                <h5 class="card-title">Phones & Accessories</h5>
                <div class="row">
                    <div class="col-6">
                        <img class="card-img-top " src="~/Images/iPhone Fast Charger Cable[Apple MFi Certified] 20W PD USB C Wall Charger Type C Power Adapter Lightning Cable Fast Charging Plug Compatible with iPhone 14_13 Pro_12_XS_Max_XR_X_8 Plus_SE 2022,iPad.jpeg" alt="Card image cap" style="height:120px; width:100px">
                        <p style="font-size:0.9rem">Fast Charger Cable</p>
                    </div>
                    <div class="col-6">
                        <img class="card-img-top " src="~/Images/Phone's stand.jpeg" alt="Card image cap" style="height:120px; width:100px">
                        <p style="font-size:0.9rem">Cell Phone Stand</p>
                    </div>
                </div>
                <div class="row mt-1" style="">
                    <div class="col-6">
                        <img class="card-img-top " src="~/Images/Phone-protection.jpeg" alt="Card image cap" style="height:120px; width:100px">
                        <p style="font-size:0.9rem">Cell phones</p>
                    </div>
                    <div class="col-6">
                        <img class="card-img-top " src="~/Images/phones-accessories.jpeg" alt="Card image cap" style="height:120px; width:100px">
                        <p style="font-size:0.9rem">Phone's Accessorie</p>
                    </div>
                </div>

                <div class="card-body">
                    <a href="#" class="card-link">voir plus</a>

                </div>
            </div>
        </div>
        <div class="col-3 mb-3 card-Home-position">
            <div class="card" style="">
                <h5 class="card-title">Boy's Fashion</h5>
                <img class="card-img-top image_home_card" src="~/Images/Fashionista.png" alt="Card image cap">

                <div class="card-body">
                    <a href="#" class="card-link">voir plus</a>

                </div>
            </div>
        </div>

    </div> <!--first row-->


</div>

<div id="carouselHome" class="carousel slide main_div_home position-relative carousel-category-home " data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row">
             
               
                @foreach (var product in Model.Products)
                {
                    @if (product.Category == "Other")
                    {
                        <div class="col" style=" background-color: whitesmoke;">
                                    <img src="/Products/@product.ImageFileName" class="d-block w-100" alt="..." width="400" height="300">
                                </div>
                    }
                }
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselHome" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselHome" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- autre carousel-->
